@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* -------- Font Type------- */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


/* ========= VARIABLES ========== */
:root {
  /* ---- colors ---- */
  --primary-color: #242424;
  --secondary-color: hsl(0, 0%, 95%);
  --aqua-color: aqua;
  --section-border-color: rgba(187, 187, 187, 0.374);
  --link-border-color: rgba(212, 212, 212, 0.23);
  --text-color-light: hsl(0, 0%, 64%);
  --container-color: rgba(222, 222, 222, 0.441);
  --container-color-desktop: rgba(233, 233, 233, 0.921);


  /* --container-color-desktop: rgba(227, 227, 227, 0.921); */
  --info-overlay-color: rgba(123, 123, 123, 0.744);
  /* ---- fonts ---- */
  --body-font: "Bai Jamjuree", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
/* Resetting default browser styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Setting box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  cursor: url("assets/images/cursors/white-arrow.png"), auto;
  overflow-x: hidden;
  font-family: var(--body-font);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*------ Default styles ------*/
h1,
h2,
h3{
  font-weight: var(--font-bold);
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:focus {
  outline: none;
}
p {
  margin-bottom: 1rem;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 0.5rem;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}
button {
  text-align: center;
}
a,
button,
.cursor-custom {
  cursor: url("assets/images/cursors/finger.png"), auto;
}

/* ========== REUSABLE CSS CLASSES ========== */
#page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-color);
}
.container-padding-1 {
  padding: 1rem;
}
.section {
  padding-block: 4rem 2rem;
}
.stroke-text-1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.075rem;
}
.stroke-text-2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.03rem;
}
.gradient-text {
  background-image: linear-gradient(
    90deg,
    var(--primary-color) 46%,
    hsl(0, 0%, 67%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* --Link tooltip-- */
.tooltip {
  position: relative;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
/* --Scroll reveal animation-- */
.not-shown {
  opacity: 0;
  scale: 0.85;
  transition: all 1s;
}
.shown {
  opacity: 1;
  scale: 1;
}
/* --Page loader-- */
.page-loader {
  background-color: rgb(230, 230, 230);
  transition: 0.5s ease;
}
.page-loader .word {
  transition: transform 0.3s ease;
}

/* 
-----OTHER PAGE LOADER ANIMATION-----
.page-loader .loader{
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: draw 2s forwards ease-in-out;
}
@keyframes draw{
    to{
        stroke-dashoffset: 0; 
    }
} */

/* --Color classes-- */
.color-primary {
  color: var(--primary-color);
}
.color-secondary {
  color: var(--secondary-color);
}
.color-aqua {
  color: var(--aqua-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-container-desktop {
  background-color: var(--container-color-desktop);
}
/* --Button hover-- */
.btn-hover {
  transition: 0.3s ease-in;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-hover:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* ============== HEADER & NAVBAR ============== */
.nav .nav__social__links .desktop a::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 0.094rem;
  width: 0;
  left: 0;
  bottom: -0.125rem;
  transition: 0.3s;
}
.nav .nav__social__links .desktop a:hover::after {
  width: 100%;
}
/* ============== HOME SECTION ============== */
.home .profile .image {
  border-color: var(--secondary-color);
}
.home .profile .hand {
  animation: hand-bounce 2.25s infinite ease-in-out;
}
@keyframes hand-bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  25% {
    transform: translateY(-15px) rotate(-10deg); /* Move up */
  }
  50% {
    transform: translateY(0); /* Return to original position */
  }
  75% {
    transform: translateY(-15px) rotate(-10deg); /* Move up again */
  }
}

/* ============== CAROUSEL SECTION ============== */
.carousel-track {
  animation: carousel-scroll 45s linear infinite;
}
@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* ============== SKILLSET SECTION ============== */
.skillset .title,
.projects .title {
  border-color: rgba(212, 212, 212, 0.451);
  transform: translate(-15px, -15px) rotate(-10deg);
}
.projects .content .box{
  background: var(--container-color-desktop);
}
.projects .content .box:first-child h2{
  background: #751D77;
  background: linear-gradient(to right, #751D77 0%, #953276 50%, #CF47C8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects .content .box:nth-child(2) h2{
  background: #111362;
  background: linear-gradient(to right, #111362 0%, #2849AC 50%, #3B7DCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects .content .box:last-child h2{
  background: #000000;
  background: linear-gradient(to right, #000000 0%, #6F6663 50%, #E5C3C3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
/* ============== CONTACT SECTION ============== */
.contact .heading .image-container {
  border-top: 0.046975rem solid var(--section-border-color);
  background-color: rgb(239, 239, 239);
}
.contact .actions a:nth-child(1) {
  border-color: rgba(212, 212, 212, 0.192);
}

/* ============== SPOKEN LANGUAGES SECTION ============== */
.holder .item .lang::after {
  content: "";
  position: absolute;
  border-radius: 10rem;
  height: 0.094rem;
  left: 0;
  bottom: -0.125rem;
  width: 0;
}
/* --Proficiency levels-- */
.holder .item:nth-child(1) .lang::after {
  width: 100%;
  background-color: rgb(4, 53, 93);
}
.holder .item:nth-child(2) .lang::after {
  width: 68%;
  background-color: rgb(22, 163, 69);
}
.holder .item:nth-child(3) .lang::after {
  background-color: rgb(210, 14, 14);
  width: 43%;
}

/* ============== MEDIA QUERIES ============== */
@media screen and (max-width: 71.875rem) {
  /*--Ipad Pro: 1150px--*/
  .nav .nav__social__links .mobile a {
    border: none;
  }
  /* --home-- */
  .home .content .info,
  .contact .heading .title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 46.875rem) {
  /*--Ipad Air: 750px--*/
  .page-loader .word {
    font-size: 2rem;
  }
  .nav .nav__action__links a {
    font-size: 0.625rem;
  }
  .home .profile .hand {
    top: 1rem;
    left: 8.25rem;
  }
}
@media screen and (max-width: 34.375rem) {
  /*--Iphone: 550px--*/
  /* --general */
  .carousel,
  .contact {
    background-color: var(--secondary-color);
  }
  .header,
  .home,
  .skillset,
  .footer {
    background-color: var(--container-color);
  }
  .nav .nav__action__links .email {
    font-size: 0.8rem;
  }
  .nav .nav__social__links .mobile a {
    border: 0.25rem solid;
    border-color: var(--link-border-color);
  }
  /* --home-- */
  .home {
    border-top: none !important;
    border: 0.035rem solid var(--section-border-color);
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  .home .profile .image {
    width: 8.5rem;
    height: 8.5rem;
  }
  .home .profile .hand {
    top: 1rem;
    left: 6.8rem;
    font-size: 0.85rem;
    font-weight: 500;
  }
  .home .profile .arrow {
    left: 2.5rem;
  }
  .home .content .info,
  .contact .heading .title {
    font-size: 1.9rem;
  }
  /* --carousel-- */
  .carousel img {
    width: 7.5rem;
  }
  /* --skillset-- */
  .skillset {
    border-radius: 5rem;
    border: 0.035rem solid var(--section-border-color);
  }
  .skillset .title-info,
  .projects .title-info {
    font-size: 1.5rem;
  }
  .skillset .title,
  .projects .title {
    font-size: 0.75rem;
  }
  /* --contact-- */
  .contact .heading .image-container {
    width: 7.5rem;
    height: 7.5rem;
  }
  /* --footer-- */
  .footer {
    justify-content: center;
    height: 1.5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border: 0.035rem solid var(--section-border-color);
  }
  .footer .line {
    display: none;
  }
  .footer .content .socials a {
    border: 0.25rem solid;
    border-color: var(--link-border-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}